<footer class="page-footer font-small bg-dark pt-4">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white font-italic">Siga nas redes sociais</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social tm">
                <li>
                    <a href="https://www.facebook.com/" target="_blank"><img class="tm" src="../../assets/img/facebook.png" alt=""></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><img class="tm" src="../../assets/img/instagram.png" alt=""></a>
                </li>
                <li>
                    <a href="https://github.com/" target="_blank"><img class="tm" src="../../assets/img/github.png" alt=""></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/feed/" target="_blank"><img class="tm" src="../../assets/img/linkedin.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-white">© Angela Caperuzzo</span>
</div>
</footer>
