<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-dark">Atualizar perfil</h1>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu Nome">
        </div>
        <div class="form-group">
            <label for="usuario">Usuárie</label>
            <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu Usuárie">
        </div>
        <div class="form-group">
            <label for="foto">Link da foto</label>
            <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua Senha">
        </div>
        <div class="form-group">
            <label for="confirmSenha">Confirme a senha</label>
            <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                placeholder="Confirme sua senha">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo de Usuárie</label>
            <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
            <option>Selecione um tipo de usuárie</option>
            <option value="normal">Normal</option>
            <option value="adm">Administrador</option></select>
        </div>
        <div class="d-flex justify-content-center mr-4">
            <button type="submit" class="btn btn-danger mr-4" routerLink = '/inicio'>Cancelar</button>
            <button type="submit" class="btn btn-success mr-4" (click)='atualizar()'>Atualizar</button>
        </div>
    </div>
</div>
